@import 'colors';
@import 'reset';
@import 'imported-code';
@import 'vars';
@import 'typog';
@import 'prestyle';

/* Seccion Home */


#home1 {
    background: unset;
    background-image: url(../assets/img/home1.jpg);
    background-size: cover;
    background-position: left 0 -1800px;
}

.home1__headline {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    max-width: 500px;

    h1 {
        text-align: left;
    }

    div {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
}

.home1__headline>* {
    margin: 10px;
}

.separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    background: $color-30;
    background-image: url(../assets/structure/separator-waves.svg);
    background-size: cover;

    img {
        max-height: 200px;
        max-width: 80vw;
    }
}

.separator--blank {
    display: block;
    height: 200px;
    width: 100%;
}

.home2__categories {
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 20% 80%;
    height: 100%;

    .home2__categories__title {
        grid-row: 1/2;
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    h2,
    h3 {
        font-family: $maintypog;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: -0.05em;
        text-transform: uppercase;
    }

    h3 {
        font-size: 4rem;
        color: $color-60;
    }

}

.home2__categories__flex {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    grid-row: 2/3;
    grid-column: 2/3;
    align-items: center;
    justify-content: space-around;

    .cat--card {
        width: 35%;
        min-width: 360px;
        height: 80%;
        position: relative;
        background-color: $color-10;
        overflow: hidden;
        margin: 20px;
        border-radius: $elembr;

        img {
            max-width: 100%;
            z-index: 1;
            overflow: hidden;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;

            h3 {
                text-align: center;
                z-index: 3;
            }
        }

    }
}

.cat--card:hover {
    img {
        opacity: 0.5;
        mix-blend-mode: luminosity;
        filter: blur(2px);
        transition: 0.2s;

    }
}

.cat--card:active {
    transform: scale(98%);

    h3 {
        transform: scale(105%);
    }
}

/* seccion productos */

#productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.filters {
    padding-top: calc($header-height + 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    h1 {
        font-family: $maintypog;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 2rem;
        letter-spacing: -0.05em;
    }
    .filters__category, .filters__sort {
        margin: 50px;
        display: flex;
        flex-direction: row;
        span {
            margin-right: 10px;
        }

    }
}

.productos__grid {
    display: grid;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 30px;
}

.productos__vertical--label {
    position: fixed;
    height: 80%;
    right: 0;
    bottom: 3%;
    opacity: 0.1;
    z-index: -1;
}

.product--card {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    .product--card__img {
        margin-top: 10px;
        height: calc(100% - 100px);
        width: calc(100% - 20px);
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
        }
        .precio {
            margin-left: 10px;
            padding: 6px;
            padding-left: 8px;
            padding-right: 8px;
            position: absolute;
            bottom: -2px;
            left: 0;
            font-family: $maintypog;
            font-style: italic;
            font-weight: 400;
            font-size: 1rem;
            letter-spacing: 0.05em;
        }
    }

    .product--card__data {
        display: flex;
        width: calc(100% - 40px);
        height: 60px;
        margin-bottom: 16px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        div {
            width: calc(100% - 100px);
        }

        h3, h4 {
            text-transform: uppercase;
            font-family: $maintypog;
            font-size: 1rem;
            font-weight: 700;
            text-align: left;
        }
        h4 {
            font-family: $defaulttypog;
            font-size: 1rem;
            font-weight: 400;
        }

    }
}

//cart

.cart {
    background-color: $color-60;
    z-index: 5;
    width: 800px;
    height: fit-content;
    margin: auto auto;
    display: grid;
    grid-template-rows: 60px 1fr 60px 60px;
    text-align: center;
    .cart--title {
        grid-row: 1/2;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
            font-family: $maintypog;
            text-transform: uppercase;
            color: $color-30;
            font-weight: 700;
            span {
                font-weight: 700;
                padding: 8px;
                font-size: 1.2rem;
                padding-top: 2px;
                padding-bottom: 2px;
                border-radius: 16px;
                background-color: $color-10;
            }
        }
    }
    .cart__container {
        grid-row: 2/3;
        span {
            text-align: center;
        }
        .autogrid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            height: 60px;
            >* {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .productName {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                .cart__img {
                    height: 54px;
                    width: 54px;
                    overflow: hidden;
                    border: solid 1px $color-30b;
                    margin-left: 20px;
                    margin-right: 6px;
                    .miniImg {
                        width: 100%;
                    }
                }
            }
            .mult {
                margin-left: 10px;
                button {
                    margin-left: 16px;
                    margin-right: 16px;
                }
            }
        }

    }
    .flex {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .cart__suma {
        grid-row: 3/4;
        background-color: $color-30;
        span {
            color: $color-60;
        }

    }
    .cart__checkout {
        grid-row: 4/5;
        background-color: $color-10;
        button {
            background-color: unset;
            color: $color-30;
        }
    }     
}